.video-listing {
  margin: 20px auto;
}

.video-listing a {
  cursor: pointer;
}

.video-listing .media-heading {
  font-size: 20px;
  text-align: left;
}

.video-listing p {
  text-align: left;
}

.password-hint {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border: 2px dashed red;
  border-radius: 16px;
  font-size: 20px;
}